.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-sidebar);
  box-shadow: 0 1px 10px 0 rgba(51, 51, 51, 0.4);
  height: 40px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  z-index: 105;
  overflow: hidden;
}

/* .mountain-header {
  outline: none;
  padding-left: 7rem;
  width: 100%;
  z-index: 205;
  height: 95%;
}

.mountain-header img {
  height: 100%;
  object-fit: fill;
} */

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0 1.75rem;
}

.menu-icon {
  width: 25px;
  height: 25px;
  fill: var(--logo-color);
  cursor: pointer;
}

.menu-icon:hover {
  fill: var(--logo-hover-color);
}

.container {
  display: flex;
}

/*************************
******* sidebar **********
*************************/
.sidebar {
  background-color: var(--bg-sidebar);
  /* color: var(--text-color); */
  /* color: var(--color-text); */
  width: var(--sidebar-closed-width);
  height: calc(100vh - 40px);
  /* border-right: px solid rgb(51, 51, 51); */
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  clip-path: inset(0px -15px 0px 0px);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-x: hidden;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: 40px;
  z-index: 105;
}

.logo {
  pointer-events: none;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
  font-weight: bold;
  color: var(--logo-color);
}

.sidebar.open .hidden-sidebar {
  text-align: left;
  opacity: 1;
  width: 100%;
  height: auto;
  margin-left: 1rem;
}

.sidebar.open .top-sidebar .hidden-sidebar {
  margin: 0;
}

.sidebar-list .hidden-sidebar {
  margin-left: 1rem;
  white-space: nowrap;
}

.sidebar .top-sidebar {
  margin-bottom: 1rem;
  height: 50px;
  transition: height var(--animation-duration) var(--animation-timing-curve);
  background-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(121, 121, 121, 0.5394184124359036) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.sidebar.open .top-sidebar {
  height: 130px;
  width: 100%;
}

.top-sidebar,
.middle-sidebar,
.bottom-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .channel-logo {
  display: block;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 0 var(--logo-color);
  width: 40px;
  height: 40px;
  transition: var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .channel-logo {
  width: 90px;
  height: 90px;
  margin-bottom: 0.5rem;
}

.sidebar .channel-logo > img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.middle-sidebar {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  box-shadow: inset 6px 0px 28px 2px #000, inset 0px 0px 100px 10px #ccc,
    inset 0px 0px 10px 15px #ccc;
}

.middle-sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
}

.sidebar-item {
  fill: var(--bg-sidebar);
  width: 100%;
  position: relative;
}

.sidebar-item:hover {
  background-color: var(--light-background-color-opacity);
  box-shadow: 1px 0px 8px 0.5px var(--logo-color);
}

.sidebar-item.active {
  fill: var(--accent-color);
  background-color: var(--light-background-color);
}

.sidebar-item.active::before {
  content: "";
  background-color: var(--accent-color);
  height: 100%;
  left: 0;
  position: absolute;
  width: 0.5rem;
}

.sidebar-item-icon {
  fill: var(--logo-color);
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
.sidebar-item-icon:hover {
  fill: var(--logo-hover-color);
}

.sidebar-link {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  padding: 0.5rem 0;
  align-items: center;
  padding-left: 1.75rem;
}

.sidebar .bottom-sidebar {
  margin: 1rem 0;
  width: 100%;
  background-color: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(121, 121, 121, 0.5394184124359036) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.sidebar.open {
  width: var(--sidebar-open-width);
}

.sidebar.open .sidebar-link {
  justify-content: flex-start;
}

.sidebar .top-sidebar .hidden-sidebar {
  text-align: center;
  width: 100%;
}
